.searchForm {
  flex: 1;
  display: flex;
  max-width: 800px;
  border: 1px solid var(--border);
  border-radius: 4px;
  overflow: hidden;
}

.searchDropdown {
  border-right: 1px solid var(--border);
}

.dropdownButton {
  background: none;
  border: none;
  padding: 0.75rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.2s ease;
}

.arrow {
  font-size: 0.7rem;
  display: inline-block;
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.75rem 1rem;
  font-size: 1rem;
}

.searchInput::placeholder {
  color: var(--text-light);
}

.searchButton {
  background: none;
  border: none;
  padding: 0.75rem 1rem;
  cursor: pointer;
  border-left: 1px solid var(--border);
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
}


@media (max-width: 768px) {
  .searchForm {
    order: 3;
    width: 100%;
    max-width: 100%;
  }
}

