.booksGrid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1.5rem;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .booksGrid {
    max-width: 100%;
  }
}

