.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    border-bottom: 1px solid #000;
    background-color: #800000; /* MAROON */
}

.navbar-logo {
    font-size: 28px;
    font-family: serif;
    border: none;
    background: none;
    cursor: pointer;
    color: #FFD700; /* GOLD */
}

.navbar-icons {
    display: flex;
    gap: 18px;
}

.navbar-icon-btn {
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 6px;
    color: #FFD700; /* GOLD */
}