.book-details {
  display: grid;
  grid-template-areas:
    "heading heading"
    "left right"
    "related related";
  grid-template-columns: 1fr 2fr;
  gap: 16px;
  column-gap: 35px;
  padding: 16px;
  max-width: none;
  width: 95%;
  margin: 0 auto;
}

.heading {
  grid-area: heading;
  margin-bottom: 4px;
  line-height: 1.2;
}

.left-column {
  grid-area: left;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.right-column {
  grid-area: right;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.related-section {
  grid-area: related;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-top: 4px;
}

.left-column img,
.right-column img {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: auto;
  object-fit: contain;
}

/* Responsive for smaller screens */
@media (max-width: 800px) {
  .book-details {
    grid-template-areas:
      "heading"
      "left"
      "right"
      "related";
    grid-template-columns: 1fr;
  }

  .left-column, .right-column {
    flex-direction: column;
  }
}

.heading h1 {
  margin-bottom: 2px;
}

.heading h2 {
  margin-top: 5px;
}
